/* globals.css */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #00246B, #CADCFC); /* Set global background */
}

.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 0; /* Remove any top padding */
  margin-top: 0; /* Remove any margin at the top */
}